h4{
    margin: 0px!important;
    font-size: 1rem !important;
}

main{
    background-color: #f6f6ef;
    margin: 0px auto;
    width: 70%;
}
.link{
    text-decoration: none!important;
    color: black;
}
.rank{
    width: 2%!important;
    float: left;
}
.postHeader{
    width: 85%;
    float: left;
    margin-top: 15px;
}

.title::after{
    content:"";
    clear:both;
    display:table;
}

rank{
    left: 50px;
    padding-right: 10px;
}


